@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/thin/MuseoSansCyrl-100.eot');
    src: url('../fonts/thin/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/thin/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/thin/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/Light/MuseoSansCyrl-300.eot');
    src: url('../fonts/Light/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Light/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/Light/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/Medium/MuseoSansCyrl-500.eot');
    src: url('../fonts/Medium/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Medium/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/Medium/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/Bold/MuseoSansCyrl-700.eot');
    src: url('../fonts/Bold/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Bold/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/Bold/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/Black/MuseoSansCyrl-900.eot');
    src: url('../fonts/Black/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Black/MuseoSansCyrl-900.woff') format('woff'),
    url('../fonts/Black/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }